<!DOCTYPE html>
<html>

{% include head.html %}

<body>


<div class="page-content">
    {% include site-header.html %}
    <div class="categories">
        <h1 class="centered">Categories</h1>


        {% for item in site.categories %}

        <div class="category">
            <div class="category-icon"><img src="/img/app-icons/{{ item.icon }}"></div>
            <a class="category-link" href="/ppcarchive/{{ item.title }}">
                {{ item.title }}
            </a>
        </div>


        {% endfor %}
    </div>
</div>

{% include footer.html %}

</body>

</html>
